@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  overflow-x: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent;
}
